<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UIT Stock Market</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image" style="max-width: 120px; max-height: 120px;    ">  
      </div>
      <nav class="nav">
        <a href="#" class="btn btn-primary" >Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <a href="{{ url_for('register') }}" >Sign Up</a>
        <a href="{{ url_for('login') }}" >Login</a>
      </nav>
    </div>
  </header>
  <main class="landing">
    <div class="container landing-content">
      <div class="text-block">
        <h1>PINANCE</h1>
        <p>Về chúng tôi</p>
        <p>Hệ thống quản lý sàn chứng khoán này được xây dựng nhằm mang đến trải nghiệm giao dịch và quản lý đầu tư hiệu quả, thuận tiện cho người dùng. Với các tính năng đăng ký tài khoản, nạp/rút tiền, quản lý danh mục, và đặt lệnh mua bán, bạn hoàn toàn chủ động theo dõi biến động thị trường và tối ưu hóa chiến lược đầu tư. Giao diện thân thiện, tích hợp báo cáo thời gian thực sẽ giúp bạn nắm bắt cơ hội và tối đa hóa lợi nhuận.</p>
        <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
      </div>
      <div class="image-block">
        <img src="{{ url_for('static', filename='images/landing.png') }}" alt="Stock Market Illustration">
      </div>
    </div>
  </main>
</body>
</html>