<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UIT Stock Market</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image" style="max-width: 120px; max-height: 120px;    ">  
      </div>
      <nav class="nav">
        <a href="#" class="btn btn-primary" >Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <a href="{{ url_for('register') }}" >Sign Up</a>
        <a href="{{ url_for('login') }}" >Login</a>
      </nav>
    </div>
  </header>
  <main class="landing">
    <div class="container landing-content">
      <div class="text-block">
        <h1>PINANCE</h1>
        <p>About Us</p>
        <p>This stock market management system is built to provide an efficient and convenient trading and investment management experience for users. With features for account registration, deposit/withdrawal, portfolio management, and buy/sell orders, you have complete control to monitor market fluctuations and optimize your investment strategy. The user-friendly interface, integrated with real-time reporting, will help you seize opportunities and maximize profits.</p>
        <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
      </div>
      <div class="image-block">
        <img src="{{ url_for('static', filename='images/landing.png') }}" alt="Stock Market Illustration">
      </div>
    </div>
  </main>
</body>
</html>